/*https://www.w3schools.com/css/tryit.asp?filename=trycss_table_fancy*/

.buttonRow {
    padding-left: 15px;
    padding-top: 15px;
}

#headingShoppingCart {
    text-align: center;
}

h1 {
    text-align: center;
}

table {
    margin: 50px;
}

tr, td {
    /*border: 2px solid #BEBEBE;*/
    border: 2px solid rgba(10, 43, 36, 0.58);
}

table {
    border-collapse: collapse;

}

th, td {
    padding: 15px;
    text-align: center;
    width: auto;
    height: auto;
}

th {
    background-color: #0f4237;
    color: white;
}

table tr:nth-child(even) {
    background-color: #1a9a694a;
}

table tr:nth-child(odd) {
    background-color: #c2eed1;
}

table tr:hover {
    background-color: #1a9a69a1;
}

#endTotalRow {
    background: none;
    border: none;
}

.colorColumn {
    background: #1a9a694a;
    /*  border: 2px solid #BEBEBE;*/
    border: 2px solid rgba(10, 43, 36, 0.58);
}

#firstColumnTotalRow {
    border: none;
}

.pImage {
    width: 17%;
    height: 17%;
}

.productImage {
    margin: 10px;
    width: 100%;
    position: relative;
    align-content: left;
    margin: 0 auto;
    padding: 0;
}

.deleteBtn {
    border: none; /*remove borders*/
    background-color: inherit;
    padding: 14px 28px;
    font-size: 2em;
    cursor: pointer;
    /*    display: inline-block;*/
}

.deleteBtn a:hover {
    color: #3c5742 !important;
}

/*.deleteBtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: white;
}*/

.deleteBtn a {
    text-decoration: none;
    cursor: pointer;
    color: black!important;
}

.flex-columnContainer {
    display: flex;
    flex-direction: column;
}

.tableRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.orangeBtn {

    color: white;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    padding: 15px;
    margin-right: 0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
}

orangeBtn:hover {
    opacity: 1;
}

.payButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 15px 20px;
}

.pay {
    background-color: #dd7c03;
    float: right;
}

.recalculate {
    float: right;
    background-color: rgb(179, 137, 116);
}
